@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

$desktop-width: 1027px;

@mixin mobile {
  @media (min-width: 0) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}


body{
    color: #252525;
}

#hero-wrapper{
    :nth-child(3){
        margin-top: 20px;
    }
    h1{
        font-family: "Lora", serif;
        font-size: min(6vw,120px);
        font-weight: 500;
        line-height: 100%;
        width: 100%;
        margin-bottom: 50px;
        margin-top: 60px;
    }
    width: 84%;
    border-bottom: 0.7px solid rgba(0, 0, 0, 0.062);
    display: flex;
    margin-left: 7.4%;
    padding: 50px 0 0 7vw;
    img{
        height: 600px;
        width: 40%;
        margin-left: 3vw;
        object-fit: cover;
    }
    div{
        width: 65%;
    }


    p{
        width: 75%;
        font-size: min(1.3vw,16px);
        color: #6b6b6bd5;
        font-weight: 500;
        letter-spacing: 0.5px;
        word-spacing: 3px;
        font-family: "Plus Jakarta Sans", sans-serif;
    }
    @include mobile(){
        margin: 0;
        padding: 0;
        width: 100%;
        border: none;
        img{
            // display: none;
            position: absolute;
            z-index: -1;
            margin-left: 0;
            padding: 0;
            width: 100%;
            filter: drop-shadow(8px 8px 8px black) blur(2px) brightness(40%);
            height: 600px;
        }
        :nth-child(3){
            display: none;
        }
        #hero-txt-wp{
            width: 100%;
            margin: 0 0 0 5vw;
            padding: 115px 7vw 185px 5vw;
            #h1-wp{
                width: 100%;
            }
            h1{
                font-size: max(16vw, 40px);
                padding: 0;
                color: #fff;
            }
            p{
                margin: 0;
                padding: 0;
                width: 100%;
                color: #fff;
                font-size: 16px;
            }
        }

    }
}


#story-wrapper{
    display: flex;
    align-items: center;
    #img-wrapper{
        width: 40%;
        display: flex;
        gap: 50px;
        flex-direction: column; 
        // :first-child{
        //     margin-bottom: 40px;
        // }
        img{
            width: 100%;
        }
    }
    .story-text-nav{
        width: 60%;
        padding-right: 10%;
        :nth-child(4){
            margin-top: 30px;
        }
        p{
            font-family: "Plus Jakarta Sans", sans-serif;
            line-height: 1.625em;
            letter-spacing: 0.5px;
            word-spacing: 1px;
            font-size: min(1.1vw,16px);
        }
    }
    @include mobile(){
        width: 100%;
        flex-direction: column;
        padding: 100px 0 0 5.5vw;
        margin: 0;
        .story-text-nav{
            width: 100%;
            padding: 0;
            margin: 0;
            p{
                width: 95%;
                margin-bottom: 80px;
                font-size: max(1.5vw, 13px);
            }
            h2{
                display: none;
            }
            $spotOne: #26115a;
            $spotTwo: #DFAE4F;
            $spotThree: #ac7200;
            .story-bar-nav{
                flex-direction: column-reverse;
                justify-content: start;
                align-items: start;
                padding-bottom: 35px;
                h2{
                    display: inline;
                    font-weight: 500;
                    font-size: 33px;
                    font-family: "Plus Jakarta Sans", sans-serif;
                    text-transform: none;
                    margin-bottom: 15px;

                }
                .bar{
                    width: 40px;
                    height: 7px;
                    background-image: linear-gradient( 160deg, $spotThree, $spotTwo );
                    border-radius: 10px;
                }
            }
        }
        #img-wrapper{
            width: 100%;
            padding-right: 5vw;
            flex-direction: column;
            padding-bottom: 200px;
        }
    }
    margin: 50px 17.5%;
    justify-content: space-between;


    .story-bar-nav{
        display: flex;
        align-items: center;
        h2{
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 20px;
            margin: 0;
        }
        .bar{
            width: 50px;
            height: 2px;
            background-color: #DFAE4F;
            margin-right: 15px;
        }
    }
    h2{
        font-family: 'Lora', sans-serif;
        font-weight: 400;
        line-height: 1.348em;
        margin: 19px 0;
        max-width: 558px;
        font-size: min(3vw,50px);
        text-transform: uppercase;
    }

}